@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
}
.rich-text {
  font-size: 15;
  color: #7a7b7d;
}
.rich-text h1 {
  font-size: 36;
  font-weight: 800;
  color: #252525;
}
.rich-text h2 {
  font-size: 22;
  font-weight: 700;
  color: #252525;
  margin-bottom: 20px;
}
.rich-text h3 {
  font-size: 18;
  font-weight: 600;
  color: #333333;
}
.rich-text h4 {
  font-size: 16;
  font-weight: 500;
  color: #444444;
}
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}
.rich-text li {
  margin-bottom: 8px;
}
.rich-text p {
  margin-bottom: 16px;
}
